# website-vitrine
website vitrine
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Kaushan+Script&family=Righteous&display=swap');
/* font-family: 'Homemade Apple', cursive;
   font-family: 'Kaushan Script', cursive;
   font-family: 'Righteous', cursive; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #000000;
    --color2: #555555;
    --color3: #ffffff;
    --color4: #062794;
    --color5: #7f00e63d;
    --color6: #afafaf;
    --color7: #16f52944;
    --color8: #0000007c;
}

body {
    background-image: url('img/namnam/wooden-natural-floor-decoration-concept.jpg');
    /*background: var(--color1);*/
    font-family: 'Kaushan Script', cursive;
    overflow-x: hidden;
    color: var(--color6);
    background-size: cover;
}

html {
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {
    border: 0;
    padding: .5rem 1rem;
    background: var(--color5);
    cursor: pointer;
    transition: all .5s;
    font-family: 'Kaushan Script', cursive;
}

.btn:hover {
    background: var(--color6);
    color: var(--color2);
}

a .btn {
    color: var(--color3);
}

.red {
    color: var(--color3);
}

.xx {

    font-size: 0.5em;
}

.xxx {

    font-size: 0.5em;
}

.loading {
    width: 100%;
    height: 100vh;
    background: var(--color1);
    /*background-image: url('img/mekas/none.png');*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

/* Accueil */
.hero {
    background-image: url('img/namnam/big-sandwich-hamburger-burger-with-beef-red-onion-tomato-and-fried-bacon.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    /*text-shadow: 0.4em 0.4em 0.4em #000000;*/
    background-size: cover;
                 
}

.hero .heroD, .hero .heroG {
    width: 50%;
    height: 100%;
}

.hero .heroD {
    /*background: var(--color1);*/
    background-image: url('img/namnam/');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .heroG {
    /*background-image: url('img/fonds/neon-tropical.jpg');*/
    background: var(--color8);
    color: var(--color6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.centre{
    text-align: center;
}

.hero .heroG div {
    width: 80%;
}

.hero .heroG div h1 {
    font-size: 3rem;
}

.hero .heroG div p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

.hero .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--color6);
    font-size: 2rem;
    font-weight: 700;
}

.hero .socials {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.hero .socials ul {
    list-style: none;
    font-size: 1.5rem;
}

.hero .socials ul li {
    margin-left: 1rem;
    background: var(--color8);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1.5rem;
}

.hero .socials ul li a {
    color: var(--color3);
    transition: color .5s;
}

.hero .socials ul li a:hover {
    color: var(--color2);
}

.hero .socials ul {
    display: flex;
}

/* Discord */
.discord {
    /*background: var(--color1);*/
    /*background-image: url('img/mekas/ban.png');*/
    padding: 4rem 0;
    text-align: center;
}

.discord h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--color6);
}

/* Discord2 */
.discord2 {
    /*background: var(--color1);*/
    background-image: url('img/fonds/socials.jpg');
    padding: 4rem 0;
    text-align: center;
    
}

.discord h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--color6);
}
/* RoadMap */
.roadmap {
    background: var(--color8);
    /*background-image: url('img/mekas/wallpaper.png');*/
    padding: 4rem 0;
    color: var(--color2);
}

.roadmap h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.roadmap .bloc {
    background: var(--color8);
    margin-bottom: 3rem;
    padding: 1rem;
    position: relative;
    margin-left: 2px;
    text-align: center;
    
}

.roadmap .bloc2 {
    background: var(--color7);
    margin-bottom: 3rem;
    padding: 1rem;
    position: relative;
    margin-left: 2px;
    
}
.roadmap h4 {
    margin: 1rem 0;
    color: var(--color3);
    font-size: xx-large;
}

.roadmap p {
    line-height: 1.5rem;
    color: var(--color3);
    font-size: large;
}

.roadmap .number {
    position: absolute;
    top: -1rem;
    left: calc(1rem - 1px);
    background: var(--color3);
    padding: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
}

.roadmap .number2 {
    position: absolute;
    top: -1rem;
    left: calc(1rem - 1px);
    background: var(--color2);
    padding: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color3);
}

.roadmap .number.off {
    background: var(--color5);
    color: var(--color5);
}

.roadmap .number2.off {
    background: var(--color7);
    color: var(--color7);
}


.roadmap .container {
    position: relative;
}

.line {
    position: absolute;
    left: 3rem;
    height: 100%;
    width: 2px;
    background: var(--color3);
    top: 30px;
}

/* Team */
.team {
    /*background: var(--color1);*/
    padding: 4rem 0;
    color: var(--color1);
    text-decoration: underline;
    font-style: oblique, bold;
}

.team h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.team .team__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team .member {
    width: 30%;
}

.team .member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .member h4 {
    color: var(--color2);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.team .member .job {
    color: var(--color3);
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

.team__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* angels */
.angels {
    /*background: var(--color1);*/
    padding: 4rem 0;
}

.angels h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.angels .team__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.angels .member {
    width: 18%;
}

.angels .member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.angels .member h4 {
    color: var(--color2);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.angels .member .job {
    color: var(--color3);
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

.team__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Partners */
.Partners {
    /*background: var(--color1);*/
    padding: 4rem 0;
}

.Partners h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.Partners .team__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Partners .member {
    width: 14%;
}

.Partners .member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Partners .member h4 {
    color: var(--color3);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.Partners .member .job {
    color: var(--color3);
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.team__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Footer */
footer {
    background: var(--color1);
    color: var(--color2);
    padding: 1rem 0;
    text-align: center;
}

.footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__flex ul {
    list-style: none;
    
}

.footer__flex ul li a {
    color: var(--color2);
    text-decoration: none;
    
}

/* Responsive */
@media all and (max-width: 767px) {
    .hero .heroD {
        display: none;
    }

    .hero .heroD, .hero .heroG {
        width: 100%;
        height: 100%;
    }

    .hero .heroG div h1 {
        font-size: 2rem;
    }

    .team__flex {
        flex-direction: column;
    }

    .team__flex .member {
        margin-bottom: 3rem;
    }

    .team__flex .member:last-child {
        margin-bottom: 0;
    }

    .team .member {
        width: 100%;
    }
}
